
/* =========================
    Fonts
========================= */

@font-face {
    font-family: "Playfair";
    src: url("./asset/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "PlayfairSC-b";
    src: url("./asset/fonts/PlayfairDisplaySC-Bold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "PlayfairSC-r";
    src: url("./asset/fonts/PlayfairDisplaySC-Regular.ttf") format("truetype");
    font-weight: 500;
}



@font-face {
    font-family: "SourceSans";
    src: url("./asset/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}

/* =========================
    Variables
========================= */

:root {
    --bg-main: #AAC8FF;
    --bg-alt: #f4f7fe;

    --text-light: #2f2f2f;
    --text-dark: #ffffff;

    --primary: #2204b8;
    --secondary: #0d5d85;


    --font-main: "Playfair", sans-serif;
    --font-pixel: "SourceSans", sans-serif;

    --radius: 12px;
}

/* =========================
    Layout global
========================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px 50px;
    background-color: var(--bg-alt);
    background: linear-gradient(var(--bg-main), var(--bg-alt), var(--bg-main));
    color: var(--text-light);
    font-family: var(--font-main);
}

/* =========================
    C'est ici pour ajouter du style <3
========================= */

#titre {
    font-family: PlayfairSC-b;
    font-size: 68px;
    padding-top: 28px;
}

#sous-titre {
    font-family: PlayfairSC-r;
    font-size: 40px;
}

#intro {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: left;
}

#carrousel {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.element-carrousel {
    display:flex;
    width: 180px;
    height: 420px;
    align-items: center;
}

#header-img {
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;

}

.ligne {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
}

.text {
    height: 100%;
    width: 45%;
    padding: 5px, 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: var(--text-dark);
    border-radius: var(--radius);
}

.paragraphe {
    padding: 5px 5px;
}

.titre-paragraphe {
    padding-left: 20px;
    font-size: 30px;
}

.img {
    height: 100%;
    width: 45%;
    padding: 10px, 10px;
}

#alignement-footer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 600px;
    gap: 70px;
    justify-content: center;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: var(--text-dark);
}

.lien-footer {
    color: var(--text-dark);
}