
/* =========================
    Fonts
========================= */

@font-face {
    font-family: "Playfair";
    src: url("./asset/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "SourceSans";
    src: url("./asset/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}

/* =========================
    Variables
========================= */

:root {
    --bg-main: #ffffff;
    --bg-alt: #b4b4b4;

    --text-light: #545454;
    --text-dark: #ffffff;

    --primary: #2204b8;
    --secondary: #0d5d85;


    --font-main: "Playfair", sans-serif;
    --font-pixel: "SourceSans", sans-serif;

    --radius: 12px;
}

/* =========================
    Layout global
========================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px 50px;
    background-color: var(--bg-main);
    color: var(--text-light);
    font-family: var(--font-main);
}

/* =========================
    C'est ici pour ajouter du style <3
========================= */

#carrousel {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.element-carrousel {
    width: 80px;
}

#header-img {
    display: flex;
    flex-direction: row;
    gap: 45px;

}

.ligne {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
}

.text {
    height: 100%;
    width: 45%;
    padding: 5px, 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.img {
    height: 100%;
    width: 45%;
    padding: 5px, 5px;
}

#alignement-footer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 600px;
    gap: 70px;
    justify-content: center;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}